@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
  --primary-color-button: #db4444;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-button);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
  --dart-table: #181a1e;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}
#messageBox {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1000;
}
#renderInfor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#renderInfor {
  max-width: 600px;
  height: 370px;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
  background: #fff;
  animation: form 0.5s linear forwards;
  animation-iteration-count: 1;
  overflow: hidden;
  transition: all 0.5s ease;
  color: black;
  display: flex;
}
@keyframes form {
  0% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1022.98px) {
  #renderInfor {
    z-index: 3000;
  }
}
#renderInfor.active {
  display: none;
}
.infor-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.infor-content .infor-content-left {
  width: 300px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-bottom: 5px;
}
.infor-content .infor-content-left:hover {
  box-shadow: unset;
}
.infor-content .infor-content-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.infor-content .infor-content-right {
  max-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.infor-content .infor-content-right .box-infor {
  width: 100%;
  height: 50px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0a2e58;
}
.infor-content .infor-content-right .box-infor:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.infor-content .infor-content-right .box-infor h3 {
  width: 90%;
  height: 90%;
  text-align: start;
  font-size: 14px;
  font-weight: 400;
}
.infor-content .infor-content-right .box-infor:nth-child(6) {
  overflow: hidden;
  overflow-x: scroll;
}
.infor-content .infor-content-right .box-infor::-webkit-scrollbar {
  height: 5px;
}
.infor-content .infor-content-right .box-infor::-webkit-scrollbar-thumb {
  background: var(--primary-color-button);
}
.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  position: relative;
}
@media only screen and (max-width: 520px) {
  #messageBox {
    right: 5px;
  }
  .toast {
    min-width: 350px;
  }
}
.toast::before {
  content: "";
  position: absolute;
  border: 2px solid;
  width: 100%;
  border-color: inherit;
  bottom: 0;
  animation: amin 3s linear forwards;
}
@keyframes amin {
  100% {
    width: 0;
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.toast__msg {
  font-size: 14px;
  color: #000000;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--primary);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo .logo-name span {
  color: var(--dark);
}

.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: #1976d2;
  position: relative;
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
  color: var(--success);
}

.sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}

.sidebar .side-menu li a.logout {
  color: var(--danger);
}

.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}

.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}

.content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
  display: none;
}

.content nav .notif {
  font-size: 20px;
  position: relative;
}

.content nav .notif .count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  background: var(--danger);
  border-radius: 50%;
  color: var(--light);
  border: 2px solid var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.content nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--primary);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.content nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.content main .header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
  color: var(--dark);
}

.content main .header .left .breadcrumb li a {
  color: var(--dark-grey);
}

.content main .header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: none;
}

.content main .header .report {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  font-weight: 500;
  cursor: pointer;
}

.content main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

.content main .insights li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}

.content main .insights li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
  background: var(--light-primary);
  color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
  background: var(--light-warning);
  color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
  background: var(--light-success);
  color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
  background: var(--light-danger);
  color: var(--danger);
}

.content main .insights li .info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.content main .insights li .info p {
  color: var(--dark);
}

.content main .bottom-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.content main .bottom-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.content main .bottom-data .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.content main .bottom-data .header .bx {
  cursor: pointer;
}

.content main .bottom-data .orders {
  flex-grow: 1;
  flex-basis: 500px;
}

.content main .bottom-data .orders table {
  width: 100%;
  border-collapse: collapse;
}

.content main .bottom-data .orders table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td {
  padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

.content main .bottom-data .orders table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.content main .bottom-data .orders table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover {
  background: var(--grey);
}

.content main .bottom-data .orders table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed {
  background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process {
  background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending {
  background: var(--warning);
}

.content main .bottom-data .reminders {
  flex-grow: 1;
  flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list {
  width: 100%;
}

.content main .bottom-data .reminders .task-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  padding: 14px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
  display: flex;
  align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p {
  margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx {
  cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
  border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
  border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .content {
    width: calc(100% - 60px);
    left: 200px;
  }
  .content nav .bx.bx-menu {
    display: block;
  }
  .sidebar.close {
    width: 60px;
  }
  .sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
  }
  .sidebar.close ~ .content {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media screen and (max-width: 576px) {
  .content main .insights {
    grid-template-columns: 1fr;
  }

  .content main .bottom-data .header {
    min-width: 340px;
  }

  .content main .bottom-data .orders table {
    min-width: 340px;
  }

  .content main .bottom-data .reminders .task-list {
    min-width: 340px;
  }
}
.main-content.active {
  display: none;
}
.main-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1000;
  height: 100vh;
}
.main-loading.active {
  display: none;
}
.loading-change {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s ease, height 1s ease, opacity 1s ease;
}
.fui-loading-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.fui-loading-roller div {
  animation: nzsBq 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.fui-loading-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(29, 192, 113, 0.7);
  margin: -4px 0 0 -4px;
}
.fui-loading-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.fui-loading-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.fui-loading-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.fui-loading-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.fui-loading-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.fui-loading-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.fui-loading-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.fui-loading-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.fui-loading-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.fui-loading-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.fui-loading-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.fui-loading-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.fui-loading-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.fui-loading-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.fui-loading-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.fui-loading-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes nzsBq {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fui-search-input-effect {
  max-width: 400px;
  width: 100%;
}
.fui-search-input-effect .search-box {
  position: relative;
  height: 50px;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: all 0.3s ease;
}
/* .fui-search-input-effect #check:checked ~ .search-box {
  max-width: 380px;
} */
.fui-search-input-effect .search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}
.fui-search-input-effect .search-box .icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #1dc071;
  font-size: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1dc071;
  color: #fff;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
/* .fui-search-input-effect #check:checked ~ .search-box .icon {
} */
.fui-search-input-effect #check {
  display: none;
}
#form-add-product {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  max-width: 1000px;
  box-shadow: 0 0 5px 1000000px rgba(0, 0, 0, 0.3);
  transition: top 1s ease-in;
  display: none;
}
#form-add-product.active {
  display: block;
  animation: formadd 0.3s normal forwards ease-in-out;
}
@keyframes formadd {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
#form-edit-product {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  max-width: 1000px;
  box-shadow: 0 0 5px 1000000px rgba(0, 0, 0, 0.3);
  transition: top 1s ease-in;
  display: none;
}
#form-edit-product.active {
  display: block;
  animation: formadd 0.3s normal forwards ease-in-out;
}
@keyframes formadd {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
#title-f-add-p {
  position: relative;
}
#title-f-add-p::after {
  content: "";
  position: absolute;
  left: -300px;
  width: 1500px;
  height: 1500px;
  z-index: -10;
}
#btn-close-f-add-p {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
}
.container-f-add-p {
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #646262;
  border-radius: 5px;
  background-color: #ffffff;
}
.form-f-add-p {
  margin: 10px;
}
.form-f-add-p h2 {
  font-size: 2.5em;
  font-weight: 600;
}
.input-box-f-add-p input,
.input-box-f-add-p textarea,
.input-box-f-add-p select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  margin: 8px auto;
  padding: 5px 10px;
}
.input-box-f-add-p input:focus,
.input-box-f-add-p textarea:focus {
  border-color: #2691d9;
}
.input-box-f-add-p label {
  font-size: 20px;
}
#image-f-add-p {
  width: auto;
  display: block;
  margin: 8px 0;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}
#type-f-add-p {
  cursor: pointer;
}
#submitbtn-f-add-p {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #171616;
  cursor: pointer;
  opacity: 0.9;
  margin-top: 10px;
  color: #ffffff;
  font-size: 1.5em;
  padding: 5px 0;
}
#submitbtn-f-add-p:hover {
  color: #646262;
  border-color: #646262;
  background-color: #ffffff;
}
.input-box-f-add-p.invalid input,
.input-box-f-add-p.input-box-f-add-p.invalid textarea {
  border-color: #f52036;
  transition: 0.3s;
}
.input-box-f-add-p.invalid select {
  border: 1px solid #f52036;
  transition: 0.3s;
}
.error-message-f-add-p {
  color: #f52036;
}
.previewImage-f-add-p.changed {
  width: 100px;
  height: 100px;
}
/* // form edit  */
#title-f-edit-p {
  position: relative;
}
#title-f-edit-p::after {
  content: "";
  position: absolute;
  left: -300px;
  width: 1500px;
  height: 1500px;
  z-index: -10;
}
#btn-close-f-edit-p {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
}
.container-f-edit-p {
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #646262;
  border-radius: 5px;
  background-color: #ffffff;
}
.form-f-edit-p {
  margin: 10px;
}
.form-f-edit-p h2 {
  font-size: 2.5em;
  font-weight: 600;
}
.input-box-f-edit-p input,
.input-box-f-edit-p textarea,
.input-box-f-edit-p select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  margin: 8px auto;
  padding: 5px 10px;
}
.input-box-f-edit-p input:focus,
.input-box-f-edit-p textarea:focus {
  border-color: #2691d9;
}
.input-box-f-edit-p label {
  font-size: 20px;
}
#image-f-edit-p {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  display: block;
  margin: 8px 0;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}
#type-f-edit-p {
  cursor: pointer;
}
#submitbtn-f-edit-p {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #171616;
  cursor: pointer;
  opacity: 0.9;
  margin-top: 10px;
  color: #ffffff;
  font-size: 1.5em;
  padding: 5px 0;
}
#submitbtn-f-edit-p:hover {
  color: #646262;
  border-color: #646262;
  background-color: #ffffff;
}
.input-box-f-edit-p.invalid input,
.input-box-f-edit-p.input-box-f-edit-p.invalid textarea {
  border-color: #f52036;
  transition: 0.3s;
}
.input-box-f-edit-p.invalid select {
  border: 1px solid #f52036;
  transition: 0.3s;
}
.error-message-f-edit-p {
  color: #f52036;
}
.previewImage-f-edit-p.changed {
  width: 100px;
  height: 100px;
}
#notifiBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background: #ffffff;
  z-index: 500;
  border-radius: 8px;
  box-shadow: 0 0 5px 1000000px rgba(0, 0, 0, 0.3);
  display: none;
}
#notifiBox.active {
  display: block;
}

#notifi-header {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: #0f172a;
  color: #fff;
  position: relative;
}
#notifi-header::after {
  content: "";
  position: absolute;
  left: -340px;
  bottom: -800px;
  width: 1500px;
  height: 1500px;
  z-index: -10;
}
#notify-body {
  width: 100%;
  height: 110px;
  padding: 10px;
}
#notify-bottom {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  padding: 0 10px;
  align-items: center;
}
#notify-bottom-btn-left {
  width: 80px;
  height: 30px;
  min-height: 30px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: #cec8c7;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}
#notify-bottom-btn-left:hover {
  box-shadow: unset;
}
#notify-bottom-btn-right {
  width: 80px;
  height: 30px;
  min-height: 30px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: #ff1706;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#notify-bottom-btn-right:hover {
  box-shadow: unset;
}
#btn-shop-edit-product {
  min-width: 30px;
  min-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

#btn-shop-dele-product {
  min-width: 30px;
  min-height: 30px;
  font-size: 14px;
  cursor: pointer;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  color: black;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f172a;
  color: white;
}
#btn-show-order {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#btn-check-order {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 3px;
  background: #ff6565;
  color: #fff;
}
#btn-check-order:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#btn-check-order.action {
  pointer-events: none;
  background: #65ff6a;
  color: #fff;
}
/* CSS */
#btn-show-order {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

#btn-show-order:disabled {
  pointer-events: none;
}

#btn-show-order:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#btn-show-order:active {
  box-shadow: none;
  transform: translateY(0);
}
@media only screen and (min-width: 768px) and (max-width: 1022.98px) {
  #notifiBox {
    z-index: 3000;
  }
  #form-edit-product {
    z-index: 3000;
  }
  #form-add-product {
    z-index: 3000;
  }
}
/* --------------------------------------- messsage page css --------------------------------------- */
.fui-testimonial-1 {
  margin-top: 30px;
  padding-top: 33px;
  position: relative;
  isolation: isolate;
}
.fui-testimonial-1 .testimonialWrap {
  margin-top: 30px;
  padding-block: 38px;
  position: relative;
}
.fui-testimonial-1 .testimonialBodyList {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
  height: 200px;
  margin-top: -100px;
}
.fui-testimonial-1 .testimonialBodyItem {
  opacity: 0;
  transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 100%;
  transform: translateX(-50%) translateY(100%) rotateX(-70deg);
}
.fui-testimonial-1 .testimonialBodyItem.active {
  transform: translateX(-50%) translateY(0%) rotateX(0deg);
  opacity: 1;
}
.fui-testimonial-1 .testimonialRate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 46px;
  font-size: 20px;
  font-weight: 500;
}
.fui-testimonial-1 .testimonialRateIconList {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fui-testimonial-1 .testimonialContent {
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.fui-testimonial-1 .testimonialBodyPersonal {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.fui-testimonial-1 .testimonialBodyPersonalImg {
  width: 54px;
  height: 54px;
  border-radius: 100rem;
  border: 2px solid #1dc071;
}
.fui-testimonial-1 .testimonialBodyPersonalImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.fui-testimonial-1 .testimonialBodyPersonalName {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.fui-testimonial-1 .testimoniaPersonalItem {
  border-radius: 100rem;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: linear 0.25s;
  animation: floating linear infinite 0.25s;
}
.fui-testimonial-1 .testimoniaPersonalItem.active .testimoniaPersonalImage {
  border-color: #1dc071;
}
.fui-testimonial-1 .testimoniaPersonalItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
  width: 74.29px;
  height: 74.29px;
  left: 128px;
  top: 62px;
  animation-duration: 10s;
  transition-delay: 0.6s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
  width: 113.75px;
  height: 113.75px;
  left: 270px;
  top: -39px;
  animation-duration: 12s;
  transition-delay: 0s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
  width: 98.66px;
  height: 98.66px;
  left: 150px;
  top: 190px;
  animation-duration: 11s;
  transition-delay: 0.6s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
  width: 94.4px;
  height: 94.4px;
  left: 315px;
  top: 135px;
  animation-duration: 6s;
  transition-delay: 0.2s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
  width: 120.03px;
  height: 120.03px;
  right: 333px;
  top: -35px;
  animation-duration: 7s;
  transition-delay: 0.7s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
  width: 99.62px;
  height: 99.62px;
  right: 150px;
  top: -70px;
  animation-duration: 5s;
  transition-delay: 0.1s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
  width: 104.11px;
  height: 104.11px;
  right: 266px;
  top: 175px;
  animation-duration: 5s;
  transition-delay: 0.7s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
  width: 78.39px;
  height: 78.39px;
  right: 91px;
  top: 100px;
  animation-duration: 8s;
  transition-delay: 0.4s;
}
.fui-testimonial-1 .testimoniaPersonalImage {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  border: 4px solid #fff;
  transition: linear 0.3s;
}
.fui-testimonial-1 .testimoniaPersonalImage:hover {
  border-color: #1dc071;
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
    left: 20px;
    width: 68px;
    height: 68px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
    width: 90px;
    height: 90px;
    left: 105px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
    width: 85px;
    height: 85px;
    left: 55px;
    top: 190px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
    width: 85px;
    height: 85px;
    left: 135px;
    top: 99px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
    right: 20px;
    width: 68px;
    height: 68px;
    top: 39px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
    width: 90px;
    height: 90px;
    right: 105px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
    width: 85px;
    height: 85px;
    right: 55px;
    top: 190px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
    width: 85px;
    height: 85px;
    right: 135px;
    top: 99px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .fui-testimonial-1 .logoParalax {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .fui-testimonial-1 {
    padding-top: 30px;
    margin-top: 60px;
  }
  .fui-testimonial-1 .testimonialBodyList {
    height: 100px;
    margin-top: -75px;
    margin-bottom: 275px;
  }
  .fui-testimonial-1 .testimoniaPersonalList {
    display: none;
  }
  .fui-testimonial-1 .testimonialBodyItem {
    width: 100%;
    padding-inline: 20px;
  }
  .fui-testimonial-1 .logoParalax {
    display: none;
  }
}
@media only screen and (max-width: 739px) {
  .fui-testimonial-1 .testimonialBodyPersonal {
    margin-top: 30px;
  }
  .fui-testimonial-1 .testimonialRate {
    margin-bottom: 30px;
  }
  .fui-testimonial-1 .testimonialBodyList {
    margin-bottom: 235px;
  }
  .fui-testimonial-1 .testimonialContent {
    font-size: 14px;
  }
  .fui-testimonial-1 .testimonialWrap {
    padding-bottom: 0;
  }
}
@keyframes floating {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}
/* setting css ------------------------------------------- */

