body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;

  position: relative;
}
.container::after {
  position: absolute;
  content: "";
  /* background-image: url(../image/theme.png); */
  background-repeat: repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.9;
}

/* css of header start  */

/* css of header end  */
/* css of banner   sart*/
.container-banner {
  margin-top: 180px;
  width: 100%;
  height: 480px;
  position: relative;
  background-color: #020e38;
  transition: background-color 1s ease-in;
}
/* .container-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/banner/piza.png);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -10;
} */
.banner {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.banner .banner-right {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--primary-boxshadow);
}
.banner .banner-right .banner-slider {
  width: 100%;
  height: 100%;
}
.banner .banner-right .banner-slider .slider__list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../image/top_banner2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner .banner-right .banner-slider .slider__list::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 5px;
  width: 300px;
  height: 380px;
  background-image: url("../image/masthead-premium-tablet-2-q75.png");
  z-index: 0;
  background-size: cover;
  background-size: cover;
  background-position: center;
}
.banner .banner-right .banner-slider .slider__list::before {
  position: absolute;
  content: "";
  top: -30px;
  bottom: 0;
  left: -150px;
  background-image: url("../image/5e56e11faffa5d76c1db48833fe8637b-black-friday-promotional-price-tag.png");
  width: 400px;
  background-size: cover;
}
.banner .banner-right .banner-slider .slider__list .slider-item .slider-image {
  max-width: 500px;
  min-width: 100px;
  max-height: 500px;
  min-height: 100px;
}
.banner
  .banner-right
  .banner-slider
  .slider__list
  .slider-item
  .slider-image
  img {
  text-shadow: 2px 2px 4px #898989;
  filter: drop-shadow(10px 10px 4px #bbbaba9e);
  object-fit: cover;
}
.banner
  .banner-right
  .banner-slider
  .slider__list
  .slider-item
  .slider-content
  h1 {
  font-size: clamp(0.625rem, 0.2232rem + 2.1429vw, 1.5625rem);
  font-weight: 600;
  color: white;
  display: none;
}
.banner
  .banner-right
  .banner-slider
  .slider__list
  .slider-item
  .slider-content
  button {
  margin-top: 100px;
  width: 178px;
  height: 52px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}
.banner
  .banner-right
  .banner-slider
  .slider__list
  .slider-item
  .slider-content
  button:hover {
  border: 2px solid white;
}
.banner
  .banner-right
  .banner-slider
  .slider__list
  .slider-item
  .slider-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
}

.banner .banner-right .banner-slider .slider__list .slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.8s;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;
  z-index: 10;
}
.banner .banner-right .banner-slider .slider__list .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(1) {
  transform: translate(-100%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(2) {
  transform: translate(0%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(3) {
  transform: translate(100%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(4) {
  transform: translate(200%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(5) {
  transform: translate(300%);
}
.banner .banner-right .dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .banner-right .buttons {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100;
}
.banner .banner-right .buttons button:hover {
  background-color: aliceblue;
}
.banner .banner-right .buttons #right,
#left {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  transition: transform 0.5s ease;
}
.banner .banner-right .buttons #right {
  transform: translateX(100px);
}
.banner .banner-right .buttons #left {
  transform: translateX(-100px);
}
.banner .banner-right:hover #right {
  transform: translateX(0);
}
.banner .banner-right:hover #left {
  transform: translateX(0);
}
@media only screen and (max-width: 1199.98px) {
  .banner
    .banner-right
    .banner-slider
    .slider__list
    .slider-item
    .slider-content
    h1 {
    font-size: clamp(0.875rem, 0.7203rem + 0.8251vw, 1.5rem);
  }
}
@media only screen and (max-width: 1024px) {
  .container-banner {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 991.98px) {
  .container-banner {
    min-height: 250;
    height: 480px;
  }
  .banner {
    flex-direction: column;
  }
  .banner .banner-left {
    width: 100%;
    height: 50px;
  }
  .banner .banner-left .list-option {
    margin-top: -10px;
    width: 100%;
    height: 50px;
    flex-direction: row;
  }
  .banner .banner-left__bottom {
    display: none;
  }
  .banner .banner-left .list-option .option-item {
    width: auto;
  }
  .banner .banner-left .list-option .option-item .item-title {
    display: none;
  }
  .banner .banner-left .list-option .option-item .icon-chevron {
    display: none;
  }
  .banner
    .banner-right
    .banner-slider
    .slider__list
    .slider-item
    .slider-image
    img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}
@media only screen and (max-width: 767.98px) {
  .container-banner {
    min-height: 250;
    height: 350px;
  }
  .banner .banner-left .list-option .option-item {
    border-bottom: 1px solid black;
  }
  .banner
    .banner-right
    .banner-slider
    .slider__list
    .slider-item
    .slider-content
    button {
    width: 100px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    position: relative;
    font-size: 10px;
  }
}
@media only screen and (max-width: 575.98px) {
  .banner .banner-right .banner-slider .slider__list::before {
    display: none;
  }
  .banner .banner-left .list-option .option-item .item-icon {
    width: 20px;
    height: 20px;
  }
}
/* css of banner end  */
/* css of main start  */
.container-main {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.main {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main .content-service-wrap {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
}
.main .content-service-wrap .content-service {
  min-width: 250px;
  max-width: 300px;
  height: 110px;
  display: flex;
  column-gap: 10px;
}
.main .content-service-wrap .content-service:hover {
  box-shadow: 0 0 5px 0 rgb(75, 75, 75);
}
.main .content-service-wrap .content-service img {
  min-width: 38px;
  max-width: 50px;
  min-height: 38px;
  max-width: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main .content-service-wrap .content-service .title {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}
.main .content-service-wrap .content-service .title h2 {
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .main .content-service-wrap {
    flex-direction: column;
  }
  .main .content-service-wrap .content-service {
    max-width: none;
    width: 100%;
  }
}
.main .content-phone {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
}
.main .content-phone .content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  column-gap: 10px;
  box-shadow: var(--primary-boxshadow);
}
.main .content-phone .content .content-left {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}
.main .content-phone .content .content-left .newPhone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .content-phone .content .content-left .newPhone .newphone-title {
  width: 100%;
  height: 40px;
}
.main .content-phone .content .content-left .newPhone .newphone-title h2 {
  font-size: 30px;
  font-weight: 500;
}
.main .content-phone .content .content-left .newPhone .newphone-img {
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .content-phone .content .content-left .newPhone .newphone-img img {
  width: 400px;
  height: 400px;
  object-fit: cover;

  transition: 0.8s ease-in-out;
}
.main .content-phone .content .content-left .newPhone .newphone-img:hover img {
  width: 450x;
  height: 450px;
  object-fit: cover;
}
.main .content-phone .content .content-right {
  max-width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* .main .content-phone .content .content-right div:last-child {
  display: none;
} */

.main .content-phone .content .content-right .title {
  width: 100%;
  height: 30px;
}
.main .content-phone .content .content-right .content-phone {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.main .content-phone .content .content-right .content-phone .list-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  column-gap: 10px;
  row-gap: 10px;
}
.main
  .content-phone
  .content
  .content-right
  .content-phone
  .list-card::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 650px) {
  .main .content-phone {
    height: auto;
  }
  .main .content-phone .content {
    display: flex;
    flex-direction: column;
  }
  .main .content-phone .content .content-left {
    height: 800px;
  }
  .main .content-phone .content .content-left .newPhone {
    align-items: center;
  }
  .main .content-phone .content .content-left .newPhone .newphone-img {
    min-width: 350px;
    min-height: 350px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .content-phone .content .content-right {
    display: none;
  }
}
.content-product {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 480px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1320px) {
  .content-product {
    max-width: calc(100% -15px);
  }
}
.main .content-brand {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
  border-radius: 5px;
}
.main .content-brand .content-brand-top {
  padding-left: 20px;
  width: 100%;
  height: 40px;
}
.main .content-brand .content-brand-bottom {
  width: 100%;
  height: 315px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2;
}
.main .content-brand .content-brand-bottom div {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(247, 244, 244);
}
@media only screen and (max-width: 1024px) {
  .main .content-brand .content-brand-bottom {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
  }
}
@media only screen and (max-width: 630px) {
  .main .content-brand .content-brand-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6;
  }
}

.main .content-sale-wrap {
  width: 100%;
  height: auto;
  background-image: url("../image/banner-salse-ic.png");
  background-size: cover;
  box-shadow: var(--primary-boxshadow);
}
.main .content-sale-wrap .content-sale {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
}
.main .content-sale-wrap .content-sale .content-sale-left {
  width: 40%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-sale-wrap .content-sale .content-sale-right {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .content-sale-wrap .content-sale .content-sale-right .item-time-sale {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.main
  .content-sale-wrap
  .content-sale
  .content-sale-right
  .item-time-sale
  .time {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
}
.main .content-sale-wrap .content-sale .content-sale-right .item-time-sale div {
  font-size: 20px;
  font-weight: 600;
  color: #080e67;
}
.main .content-sale-wrap .content-sale .content-sale-right .item-time-sale h3 {
  font-size: 20px;
  font-weight: 800;
  background: linear-gradient(to right, #30cfd0 0%, #a5ee07 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 850px) {
  .main .content-sale-wrap .content-sale {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .content-sale-wrap .content-sale .content-sale-left {
    height: 200px;
  }
  .main .content-sale-wrap .content-sale .content-sale-right {
    height: 200px;
  }
  .main .content-sale-wrap .content-sale .content-sale-right .item-time-sale {
    height: 150px;
  }
  .main
    .content-sale-wrap
    .content-sale
    .content-sale-right
    .item-time-sale
    .time {
    min-width: 80px;
    min-height: 80px;
    max-height: 140px;
    max-width: 140px;
    height: auto;
    width: 100%;
  }
}

.main .banner-watch {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.main .banner-watch img {
  width: 100%;
  object-fit: cover;
}
.main .content-review {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-review .content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: auto;

  min-height: 200px;
}
.main .content-review .content img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
}
.main .content-review .content h1 {
  font-size: 35px;
  text-shadow: -7px 20px 8px #080e67;
  font-weight: 800;
  background: linear-gradient(to right, rgb(255, 3, 3) 0%, #080e67 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-product {
  border-radius: 10px;
  box-shadow: var(--primary-boxshadow);
}
.content-product.bgred {
  background: linear-gradient(to bottom, #cb0c0c, #791212);
  color: white;
}
.content-product .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.content-product .content .content-title {
  width: 100%;
  height: 40px;
}
.content-product .content .content-title h2 {
  font-size: 25px;
  font-weight: 600;
}
.content-product .content .list-card {
  width: 100%;
  height: 430px;
  display: flex;
  column-gap: 10px;
  overflow: hidden;
  padding-left: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.content-product .content .list-card::-webkit-scrollbar {
  height: 0px;
}

.content-product .content .buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2%;
  right: -2%;
  height: 40px;
  display: flex;
}
.content-product .content .buttons .wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.content-product .content .buttons .wrap button {
  border-radius: 50%;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.content-product .content .buttons .wrap button:first-child {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
}
.content-product .content .buttons .wrap button:last-child {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
}

@media only screen and (max-width: 991.98px) {
  .main .content-product {
    min-width: 340px;
    width: calc(100vw - 40px);
  }
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 4);
  }
}
@media only screen and (max-width: 767.98px) {
  .main .content-product .content .buttons {
    display: none;
  }
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 3);
  }
}
@media only screen and (max-width: 575.98px) {
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 2);
  }
}

.main .content-collection {
  margin: 0 auto;
  width: 1440px;
  height: 400px;
  background-color: #ffffff;
}
.container-main .content-support {
  width: 100%;
  height: 600px;
  background: linear-gradient(125deg, #4952fb, #d25726);
}
.container-main .content-support .content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 600px;
  display: flex;
}
.container-main .content-support .content .content-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-main .content-support .content .content-right {
  width: 50%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main .content-support .content .content-right .content {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 10%;
  box-shadow: var(--primary-boxshadow);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.container-main .content-support .content .content-right .content .title {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 600px) {
  .container-main .content-support {
    height: auto;
  }
  .container-main .content-support .content {
    height: auto;
    padding: 10px;
    row-gap: 10px;
    flex-direction: column;
  }
  .container-main .content-support .content .content-left {
    width: 80%;
    margin: 0 auto;
  }
  .container-main .content-support .content .content-right {
    width: 80%;
    margin: 0 auto;
  }
  .container-main .content-support .content .content-right .content {
    width: 100%;
  }
}
.container-main .content-support .content .content-right .content .input-box {
  width: 100%;
  height: 400px;
}
.container-main
  .content-support
  .content
  .content-right
  .content
  .input-box
  textarea {
  width: 100%;
  height: 100%;
  border: 2px solid #4952fb;
  outline: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-main .content-support .content .content-right .content .submit {
  width: 90%;
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment {
  max-width: 1440px;
  margin: 0 auto;
}
.payment h1 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.content-news {
  background-image: url("../image/Rectangle.png");
  width: 100%;
  height: 700px;
}

.content-news h3 {
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.content-news .content {
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content-news .content .content-left {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  color: #fff;
  row-gap: 10px;
}
.content-news .content .content-left h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 20px;
}
.content-news .content .content-right {
  width: 60%;
  height: 100%;
  position: relative;
}
.content-news .content .content-left button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background: rgb(92, 92, 92);
  color: white;
}
@media only screen and (max-width: 920px) {
  .content-news .content .content-left h3 {
    margin-bottom: 50px;
  }
}
.content-news .content .content-right img {
  width: 90%;
  height: auto;
  object-fit: contain;
  position: absolute;
  animation-name: am;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 720px) {
  .content-news {
    height: 800px;
  }
  .content-news .content {
    flex-direction: column;
    justify-content: space-around;
  }
  .content-news .content .content-left {
    width: 100%;
    height: 200px;
  }
  .content-news .content .content-right {
    height: 300px;
  }
}
@media only screen and (max-width: 520px) {
  .content-news {
    height: 600px;
  }
  .content-news .content .content-right {
    display: none;
  }
  .content-news .content {
    flex-direction: column;
    justify-content: unset;
    row-gap: 20px;
    padding: 10px;
  }
}
@keyframes am {
  0% {
    top: 30px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
/* css of main end  */
/* css of footer start  */
