body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;

  position: relative;
}
.container::after {
  position: absolute;
  content: "";
  /* background-image: url(../image/theme.png); */
  background-repeat: repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.9;
}

/* css of header start  */

/* css of header end  */
/* css of banner   sart*/
.container-banner {
  margin-top: 180px;
  width: 100%;
  height: 480px;
  position: relative;
  background-color: #ed7672;
  transition: background-color 1s ease-in;
}
/* .container-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/banner/piza.png);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -10;
} */
.banner {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.banner .banner-right {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--primary-boxshadow);
}
.banner .banner-right .banner-slider {
  width: 100%;
  height: 100%;
}
.banner .banner-right .banner-slider .slider__list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.banner .banner-right .banner-slider .slider__list .slider-item button {
  position: relative;
  top: 150px;
  left: -300px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
}
.banner .banner-right .banner-slider .slider__list .slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.8s;
}
.banner .banner-right .banner-slider .slider__list .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(1) {
  transform: translate(-100%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(2) {
  transform: translate(0%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(3) {
  transform: translate(100%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(4) {
  transform: translate(200%);
}
.banner .banner-right .banner-slider .slider__list .slider-item:nth-child(5) {
  transform: translate(300%);
}
.banner .banner-right .dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .banner-right .buttons {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.banner .banner-right .buttons button:hover {
  background-color: aliceblue;
}
.banner .banner-right .buttons #right,
#left {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  transition: transform 0.5s ease;
}
.banner .banner-right .buttons #right {
  transform: translateX(100px);
}
.banner .banner-right .buttons #left {
  transform: translateX(-100px);
}
.banner .banner-right:hover #right {
  transform: translateX(0);
}
.banner .banner-right:hover #left {
  transform: translateX(0);
}
@media only screen and (max-width: 1199.98px) {
  .banner
    .banner-right
    .banner-slider
    .slider__list
    .slider-item
    .slider-content
    h1 {
    font-size: clamp(0.875rem, 0.7203rem + 0.8251vw, 1.5rem);
  }
}
@media only screen and (max-width: 1024px) {
  .container-banner {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 991.98px) {
  .container-banner {
    min-height: 250;
    height: 480px;
  }
  .banner {
    flex-direction: column;
  }
  .banner .banner-left {
    width: 100%;
    height: 50px;
  }
  .banner .banner-left .list-option {
    margin-top: -10px;
    width: 100%;
    height: 50px;
    flex-direction: row;
  }
  .banner .banner-left__bottom {
    display: none;
  }
  .banner .banner-left .list-option .option-item {
    width: auto;
  }
  .banner .banner-left .list-option .option-item .item-title {
    display: none;
  }
  .banner .banner-left .list-option .option-item .icon-chevron {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  .container-banner {
    min-height: 250;
    height: 350px;
  }
  .banner .banner-left .list-option .option-item {
    border-bottom: 1px solid black;
  }
}
@media only screen and (max-width: 575.98px) {
  .banner .banner-left .list-option .option-item .item-icon {
    width: 20px;
    height: 20px;
  }
}

/* css of banner end  */
/* css of main start  */
.container-main {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.main {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main .content-service-wrap {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
}
.main .content-service-wrap .content-service {
  min-width: 250px;
  max-width: 300px;
  height: 110px;
  display: flex;
  column-gap: 10px;
}
.main .content-service-wrap .content-service:hover {
  box-shadow: 0 0 5px 0 rgb(75, 75, 75);
}
.main .content-service-wrap .content-service img {
  min-width: 38px;
  max-width: 50px;
  min-height: 38px;
  max-width: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main .content-service-wrap .content-service .title {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}
.main .content-service-wrap .content-service .title h2 {
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .main .content-service-wrap {
    flex-direction: column;
  }
  .main .content-service-wrap .content-service {
    max-width: none;
    width: 100%;
  }
}
.main .content-phone {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
}
.main .content-phone .content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  column-gap: 10px;
  box-shadow: var(--primary-boxshadow);
}
.main .content-phone .content .content-left {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}
.main .content-phone .content .content-left .newPhone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .content-phone .content .content-left .newPhone .newphone-title {
  width: 100%;
  height: 40px;
}
.main .content-phone .content .content-left .newPhone .newphone-title h2 {
  font-size: 30px;
  font-weight: 500;
}
.main .content-phone .content .content-left .newPhone .newphone-img {
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .content-phone .content .content-left .newPhone .newphone-img img {
  width: 400px;
  height: 400px;
  object-fit: cover;

  transition: 0.8s ease-in-out;
}
.main .content-phone .content .content-left .newPhone .newphone-img:hover img {
  width: 450x;
  height: 450px;
  object-fit: cover;
}
.main .content-phone .content .content-right {
  max-width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* .main .content-phone .content .content-right div:last-child {
  display: none;
} */

.main .content-phone .content .content-right .title {
  width: 100%;
  height: 30px;
}
.main .content-phone .content .content-right .content-phone {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.main .content-phone .content .content-right .content-phone .list-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  column-gap: 10px;
  row-gap: 10px;
}
.main
  .content-phone
  .content
  .content-right
  .content-phone
  .list-card::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 650px) {
  .main .content-phone {
    height: auto;
  }
  .main .content-phone .content {
    display: flex;
    flex-direction: column;
  }
  .main .content-phone .content .content-left {
    height: 800px;
  }
  .main .content-phone .content .content-left .newPhone {
    align-items: center;
  }
  .main .content-phone .content .content-left .newPhone .newphone-img {
    min-width: 350px;
    min-height: 350px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .content-phone .content .content-right {
    display: none;
  }
}
.content-product {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 480px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1320px) {
  .content-product {
    max-width: calc(100% -15px);
  }
}
.main .content-brand {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
  border-radius: 5px;
}
.main .content-brand .content-brand-top {
  padding-left: 20px;
  width: 100%;
  height: 40px;
}
.main .content-brand .content-brand-bottom {
  width: 100%;
  height: 315px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2;
}
.main .content-brand .content-brand-bottom div {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(247, 244, 244);
}
@media only screen and (max-width: 1024px) {
  .main .content-brand .content-brand-bottom {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
  }
}
@media only screen and (max-width: 630px) {
  .main .content-brand .content-brand-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6;
  }
}

.main .content-sale-wrap {
  width: 100%;
  height: auto;
  background: linear-gradient(135deg, #fd80a8, #fcce42);
}
.main .content-sale-wrap .content-sale {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
}
.main .content-sale-wrap .content-sale .content-sale-left {
  width: 40%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-sale-wrap .content-sale .content-sale-right {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .content-sale-wrap .content-sale .content-sale-right .item-time-sale {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.main
  .content-sale-wrap
  .content-sale
  .content-sale-right
  .item-time-sale
  .time {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: #fff;
  box-shadow: var(--primary-boxshadow);
}
.main .content-sale-wrap .content-sale .content-sale-right .item-time-sale h3 {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 850px) {
  .main .content-sale-wrap .content-sale {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .content-sale-wrap .content-sale .content-sale-left {
    height: 200px;
  }
  .main .content-sale-wrap .content-sale .content-sale-right {
    height: 200px;
  }
  .main .content-sale-wrap .content-sale .content-sale-right .item-time-sale {
    height: 150px;
  }
  .main
    .content-sale-wrap
    .content-sale
    .content-sale-right
    .item-time-sale
    .time {
    min-width: 80px;
    min-height: 80px;
    max-height: 140px;
    max-width: 140px;
    height: auto;
    width: 100%;
  }
}

.main .banner-watch {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.main .banner-watch img {
  width: 100%;
  object-fit: cover;
}
.main .content-review {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-review .content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: auto;

  min-height: 200px;
}
.main .content-review .content img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
}
.main .content-review .content h1 {
  font-size: 35px;
  text-shadow: -7px 20px 8px #080e67;
  font-weight: 800;
  background: linear-gradient(to right, rgb(255, 3, 3) 0%, #080e67 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-product {
  border-radius: 10px;
  box-shadow: var(--primary-boxshadow);
}
.content-product.bgred {
  background: linear-gradient(to bottom, #cb0c0c, #791212);
  color: white;
}
.content-product .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.content-product .content .content-title {
  width: 100%;
  height: 40px;
}
.content-product .content .content-title h2 {
  font-size: 25px;
  font-weight: 600;
}
.content-product .content .list-card {
  width: 100%;
  height: 430px;
  display: flex;
  column-gap: 10px;
  overflow: hidden;
  padding-left: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.content-product .content .list-card::-webkit-scrollbar {
  height: 0px;
}

.content-product .content .buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2%;
  right: -2%;
  height: 40px;
  display: flex;
}
.content-product .content .buttons .wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.content-product .content .buttons .wrap button {
  border-radius: 50%;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.content-product .content .buttons .wrap button:first-child {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
}
.content-product .content .buttons .wrap button:last-child {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
}
@media only screen (max-width: 1199.98px) {
}
@media only screen and (max-width: 991.98px) {
  .main .content-product {
    min-width: 340px;
    width: calc(100vw - 40px);
  }
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 4);
  }
}
@media only screen and (max-width: 767.98px) {
  .main .content-product .content .buttons {
    display: none;
  }
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 3);
  }
}
@media only screen and (max-width: 575.98px) {
  .main .content-product .content .list-card .card-cpc {
    min-width: none;
    width: calc(100vw / 2);
  }
}

.main .content-collection {
  margin: 0 auto;
  width: 1440px;
  height: 400px;
  background-color: #ffffff;
}
.container-main .content-support {
  width: 100%;
  height: 600px;
  background: linear-gradient(125deg, #4952fb, #d25726);
}
.container-main .content-support .content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 600px;
  display: flex;
}
.container-main .content-support .content .content-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-main .content-support .content .content-right {
  width: 50%;
  height: 100%;
  background: lightsalmon;
}
/* css of main end  */
/* css of footer start  */
.container-footer {
  width: 100%;
  height: 480px;
  background: var(--primary-color);
}
.footer {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-row {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-row .footer-col {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}
.footer .footer-row .footer-col h4 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}
.footer-col .social-link a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.footer-bottom {
  width: auto;
  margin-bottom: 20px;
}
.footer-text {
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
}
/* css of footer end  */
