@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap");

html {
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  font: inherit;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
  user-select: none !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-button);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #0f172a;

  --primary-boxshadow: 0 0 5px rgba(0, 0, 0, 0.3);
  --primary-color-button: #db4444;
}
/* message box css  */
#messageBox {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1000;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  position: relative;
}
@media only screen and (max-width: 520px) {
  #messageBox {
    right: 5px;
  }
  .toast {
    min-width: 350px;
  }
}
.toast::before {
  content: "";
  position: absolute;
  border: 2px solid;
  width: 100%;
  border-color: inherit;
  bottom: 0;
  animation: amin 3s linear forwards;
}
@keyframes amin {
  100% {
    width: 0;
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* btn to top  */
#btnGoToTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: var(--primary-color-button);
  color: #dcdde0;
  border-radius: 50%;
  z-index: 100;
  font-size: 20px;
  border: 4px solid rgb(8, 8, 8);
  font-weight: 400;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
/* global header css  */
.container-header {
  width: 100%;
  max-height: 180px;
  height: 180px;
  position: fixed;
  left: 0;
  top: 0;
  background: #0f172a;
  z-index: 100;
}
.container-header {
  width: 100%;
  height: 100%;
}
.container-header .header {
  max-width: 1440px;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  border-radius: 8px;
}
.container-header .header .header-top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.216);
  background: transparent;
}
.container-header .header .header-top .header-top__title-left {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
  color: white;
}
.container-header .header .header-top .header-top-right {
  display: flex;
  width: auto;
  column-gap: 10px;
  color: white;
}
.container-header
  .header
  .header-top
  .header-top-right
  .header-top__title-right-1 {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
}
.container-header
  .header
  .header-top
  .header-top-right
  .header-top__title-right-2 {
  column-gap: 5px;
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
}
.container-header .header .header-middle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 20px;
  box-shadow: var(--primary-boxshadow);
}
.container-header .header .header-middle .header-menu {
  display: none;
}

.container-header .header .header-middle .header-logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.container-header .header .header-middle .header-logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.container-header .header .header-middle .header-logo h2 {
  font-size: 28px;
  font-weight: 600;
}
.container-header .header .header-middle .header-logo h2 span {
  color: red;
  display: inline-block;
  margin-right: 3px;
}
.container-header .header .header-middle .header-access-list {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 120px;
  margin-right: 30px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  margin: 5px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item.active {
  color: #2f86eb;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3.active {
  color: #2f86eb;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item:hover,
.header-access-item-3:hover {
  font-size: 26px;
}
.container-header .header .header-middle .header-search {
  min-width: 520px;
  width: 520px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.container-header .header .header-middle .header-search .input-box {
  width: 425px;
  height: 100%;
  display: flex;
  border: 1px solid #0f172a;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid black;
}
.container-header .header .header-middle .header-search .input-box label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 3px;
  cursor: pointer;
}
.container-header .header .header-middle .header-search .input-box .input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
}
.container-header .header .header-middle .header-search .buttons {
  width: 94px;
  height: 100%;
}
.container-header
  .header
  .header-middle
  .header-search
  .input-box
  .input:focus {
  box-shadow: var(--primary-boxshadow);
}
.container-header .header .header-middle .header-search .buttons button {
  width: 100%;
  background: var(--primary-color-button);
  height: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: var(--primary-boxshadow);
}
.container-header .header .header-middle .header-search .buttons button:hover {
  box-shadow: none;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item::before {
  position: absolute;
  top: 70%;
  right: -80%;
  content: attr(titles);
  font-size: 16px;
  width: max-content;
  height: auto;
  padding: 2px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item
  span {
  position: absolute;
  left: 100%;
  top: 5px;
  color: red;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 25px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3
  .main-account {
  position: absolute;
  bottom: -100px;
  right: -10px;
  min-width: 200px;
  width: max-content;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 black;
  row-gap: 5px;
  z-index: 10;
  display: none;
  color: #333;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3
  .main-account.active {
  display: block;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3
  .main-account
  .option {
  font-size: 14px;
  font-weight: 400;
  color: #0f172a;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3
  .main-account
  .option:hover {
  background: #333;
  color: white;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3::before {
  position: absolute;
  top: 70%;
  left: -120%;
  content: attr(titles);
  font-size: 16px;
  width: max-content;
  height: auto;
  padding: 2px;
}
.container-header .header .header-middle .menu-phone-wrap {
  display: none;
}
.container-header .header .header-bottom {
  width: 100%;
  height: 60px;
  margin-top: 1px;
  background: #fff;
}
.container-header .header .header-bottom .header-bottom-nav {
  width: 100%;
  height: 100%;
}
.container-header .header .header-bottom .header-bottom-nav .list-option {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item:hover {
  font-weight: 800;
  border-bottom: 2px solid var(--primary-color);
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-icon {
  width: 35px;
  height: 35px;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-icon
  img {
  object-fit: cover;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-title {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 400;
}
@media only screen and (max-width: 1320px) {
  .container-header .header .header-middle .header-access-list {
    column-gap: 80px;
  }
}

@media only screen and (max-width: 1280px) {
  .container-header .header .header-middle .header-access-list {
    column-gap: 50px;
    margin-left: 5px;
  }
  .container-header .header .header-middle .header-search {
    min-width: 480px;
    width: 480px;
  }
  .container-header .header .header-middle .header-search .input-box {
    width: 380px;
  }
}
@media only screen and (max-width: 1024px) {
  .container-header {
    position: static;
    height: 120px;
    max-height: 120px;
  }
  .container-header .header {
    height: 120px;
  }
  .container-header .header .header-middle {
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 20px;
    border-bottom: 1px solid #0f172a;
  }
  .container-header .header .header-bottom {
    display: none;
  }
  .container-header .header .header-middle .menu-phone-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 100;
    background: #fff;
  }
  .container-header .header .header-middle .menu-phone-wrap .menu-phone-top {
    width: 100%;
    height: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .menu-btn-close {
    width: auto;
    height: 100%;
    padding: 0 5px;
    border: none;
    box-shadow: var(--primary-boxshadow);
    background: var(--primary-color-button);
    color: white;
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .phone-access-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .header-access-list
    .header-access-item {
    width: auto;
    height: 100%;
    cursor: pointer;
  }
  .container-header .header .header-middle .menu-phone-wrap .search {
    width: 100%;
    height: 34px;
    display: flex;
    padding: 0 20px;
  }
  .container-header .header .header-middle .menu-phone-wrap .search .input-box {
    width: 100%;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .search
    .input-box
    input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 10px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .search
    .button-search {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-button);
    border: none;
    color: white;
    border-radius: 4px;
  }
  .container-header .header .header-middle .menu-phone-wrap .selection-menu {
    display: flex;
    width: 100%;
    height: 34px;
    padding: 0 20px;
    margin-top: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .selection-menu
    div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .selection-menu
    div:hover {
    background: #dcdde0;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .selection-menu
    .product-menu {
    position: relative;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .selection-menu
    .product-menu::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #0f172a;
    left: 100%;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-1 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-top: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    .option-item {
    position: relative;
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    .option-item
    h4 {
    font-size: 16px;
    font-weight: 400;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    .option-item:hover {
    background: #dbdbde;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    .icon-chevron {
    position: absolute;
    left: 94%;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-1 ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    ul
    li {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;

    column-gap: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    ul
    li
    .item-icon {
    width: 40px;
    height: 40px;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-2 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-top: 20px;
    display: none;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-2
    ul
    li {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-2
    .list
    .item.active {
    background: #dbdbde;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-2
    .list
    .item:hover {
    background: #dbdbde;
  }
  .container-header .header .header-middle .header-menu {
    display: block;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .header .header-middle .header-menu .menu {
    font-size: 25px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .container-header .header .header-middle .header-search {
    display: none;
  }

  .container-header .header .header-middle .header-logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .container-header .header .header-middle .header-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .container-header .header .header-middle .header-logo h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .container-header .header .header-middle .header-logo h2 span {
    color: red;
    display: inline-block;
    margin-right: 3px;
  }
  .container-header .header .header-middle .header-access-list {
    margin-right: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item {
    display: none;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item-3 {
    font-size: 25px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item-3::before {
    display: none;
  }
}
/* cart prodcut  */

.card-cpc {
  max-width: 230px;
  max-height: 430px;
  min-width: 230px;
  min-height: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  background: #fff;
  color: black;
}

.card-cpc:hover {
  box-shadow: unset;
}
.card-cpc .card-image-cpc {
  min-height: 250px;
  margin: 5px;
  width: 100%;
  max-height: 45%;
  text-align: center;
  position: relative;
}
.card-cpc .card-image-cpc .sale-1 {
  position: absolute;
  top: 5px;
  left: -10px;
  padding-left: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: max-content;
  height: 20px;
  background: red;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.card-cpc .card-image-cpc .sale-2 {
  position: absolute;
  top: 220px;
  left: -10px;
  padding-left: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: max-content;

  height: 20px;
  background: red;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.card-cpc .card-image-cpc .sale-3 {
  position: absolute;
  top: 190px;
  left: -10px;
  padding-left: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: max-content;

  height: 20px;
  background: red;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.card-cpc .card-image-cpc img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: all 0.7s ease;
}
.card-cpc .card-image-cpc:hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-cpc .card-description-cpc {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-cpc .card-description-cpc .card-des-content-cpc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-title-cpc {
  width: 100%;
  height: calc(100% / 3);
  text-align: start;
  padding: 5px;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-title-cpc h3 {
  font-size: clamp(0.5rem, 0.4013rem + 0.5263vw, 0.875rem);
  font-weight: 600;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-des-cpc {
  width: 100%;
  height: calc(100% / 3);
  padding: 5px;
  text-align: start;
}
.card-cpc .card-description-cpc .card-des-content-cpc .card-des-cpc h3 {
  font-size: clamp(0.5rem, 0.375rem + 0.4vw, 0.75rem);
  font-weight: 400;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.card-cpc .card-description-cpc .card-des-content-cpc .card-price-cpc {
  width: 100%;
  height: calc(100% / 3);
  text-align: center;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-price-cpc h3 {
  font-size: clamp(0.5rem, 0.4013rem + 0.5263vw, 0.875rem);
  color: #ff0040;
  font-weight: 500;
}

.card-cpc .card-description-cpc .card-button-cpc {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}
.card-cpc .card-description-cpc .card-button-cpc button:first-child {
  width: 70%;
  height: 100%;
  min-height: 40px;
  text-align: center;
  font-size: clamp(0.75rem, 0.625rem + 0.4vw, 1rem);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--primary-color-button);
  transition: border 1s ease-in;
}
.card-cpc .card-description-cpc .card-button-cpc button:first-child:hover {
  border: 1px solid black;
}
.card-cpc .card-description-cpc .card-button-cpc button:last-child {
  width: 29%;
  min-height: 40px;

  height: 100%;
  text-align: center;
  font-size: clamp(0.75rem, 0.625rem + 0.4vw, 1rem);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right top, #fc6c8f, #ffb86c);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* shop cart product  */
.container-cpsitem {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--primary-boxshadow);
}
.container-cpsitem .deletebtn-cpsitem {
  width: 10%;
  display: block;
  height: fit-content;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container-cpsitem .content-cpsitem {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cpsitem .content-cpsitem .image-cpsitem {
  width: 70px;
  height: 100%;
  margin-right: 5px;
  overflow: hidden;
}
.container-cpsitem .content-cpsitem .image-cpsitem img {
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-cpsitem .content-cpsitem .title-cpsitem {
  font-size: clamp(0.5rem, 0.3393rem + 0.8571vw, 0.875rem);
  text-align: start;
}
.container-cpsitem .buttons-cpsitem {
  min-height: 50px;
  min-width: 80px;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-cpsitem .buttons-cpsitem .add-cpsitem {
  width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 35%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.container-cpsitem .buttons-cpsitem .sub-cpsitem {
  width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 35%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.container-cpsitem .buttons-cpsitem .quantity-cpsitem {
  width: 40%;
  height: auto;
  text-align: center;
  background: white;
}
.container-cpsitem .price-cpsitem {
  width: 30%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 12px;
}

/* footer  */
.container-footer {
  width: 100%;
  height: 628px;
  background: var(--primary-color);
}
.footer {
  max-width: 1440px;
  width: 100%;
  height: 628px;
  margin: 0 auto;
  margin-top: 94.6px;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

.footer__top {
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  padding-top: 32px;
  margin-left: 132.5px;
  width: 887px;
  text-decoration: center;
  font-size: 40px;
  line-height: 76px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffffff, #5005a5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__button {
  width: 178px;
  height: 52px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}
.footer__button span {
  position: absolute;
  right: 17px;
  top: 18px;
}
.footer__button:hover {
  border: 1px solid #fff8f8;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__bottom {
  width: 100%;
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}
@media only screen and (max-width: 960px) {
  .container-footer {
    height: auto;
  }
  .footer {
    height: auto;
  }
  .footer__top {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__title {
    width: 100%;
    height: max-content;
    font-size: clamp(1.25rem, 0.9821rem + 1.4286vw, 1.875rem);
    line-height: normal;
    padding-top: 20px;
    margin: 0;
  }
  .footer__bottom {
    flex-direction: column;
    height: auto;
  }
}
.footer__bottom-right {
  display: flex;
  gap: 30px;
}
.footer__bottom-left {
  width: 350px;
  height: 190px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__left-logo {
  width: 191px;
  height: 60px;
}
.footer__left-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__left-copyright {
  width: 100%;
  height: 48px;
}
.footer__left-copyright h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.footer__left-icon {
  display: flex;
  gap: 16px;
}
.f-icon {
  cursor: pointer;
}
.footer__bottom-right {
  width: 635px;
  height: 200px;
}
.footer__right-company {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.company__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.company__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.company__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.footer__right-support {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.support__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.support__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.support__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.footer__right-stayUpToDate {
  width: 255px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.input {
  width: 100%;
  height: 40px;
  position: relative;
}
.input__email {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-left: 11px;
}
.input__icon {
  display: block;
  position: absolute;
  left: 225px;
  top: 10px;
  color: #333;
}
@media only screen and (max-width: 600px) {
  .footer__bottom-right {
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
/* css of footer end  */
