@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap");

html {
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  font: inherit;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
  user-select: none !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #0f172a;

  --primary-boxshadow: 0 0 5px rgba(0, 0, 0, 0.3);
  --primary-color-button: #db4444;
}
/* global header css  */
.container-header {
  width: 100%;
  max-height: 180px;
  height: 180px;
  position: fixed;
  left: 0;
  top: 0;
  background: #0f172a;
  z-index: 100;
}
.container-header {
  width: 100%;
  height: 100%;
}
.container-header .header {
  max-width: 1200px;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  border-radius: 8px;
}
.container-header .header .header-top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.216);
  background: transparent;
}
.container-header .header .header-top .header-top__title-left {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
  color: white;
}
.container-header .header .header-top .header-top-right {
  display: flex;
  width: auto;
  column-gap: 10px;
  color: white;
}
.container-header
  .header
  .header-top
  .header-top-right
  .header-top__title-right-1 {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
}
.container-header
  .header
  .header-top
  .header-top-right
  .header-top__title-right-2 {
  column-gap: 5px;
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 500;
}
.container-header .header .header-middle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 20px;
}
.container-header .header .header-middle .header-menu {
  display: none;
}

.container-header .header .header-middle .header-logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.container-header .header .header-middle .header-logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.container-header .header .header-middle .header-logo h2 {
  font-size: 28px;
  font-weight: 600;
}
.container-header .header .header-middle .header-logo h2 span {
  color: red;
  display: inline-block;
  margin-right: 3px;
}
.container-header .header .header-middle .header-access-list {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 120px;
  margin-right: 30px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  margin: 5px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item:hover,
.header-access-item-3:hover {
  font-size: 26px;
}
.container-header .header .header-middle .header-search {
  min-width: 520px;
  width: 520px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.container-header .header .header-middle .header-search .input-box {
  width: 425px;
  height: 100%;
  display: flex;
  border: 1px solid #0f172a;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid black;
}
.container-header .header .header-middle .header-search .input-box label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 3px;
  cursor: pointer;
}
.container-header .header .header-middle .header-search .input-box .input {
  width: 100%;
  border: none;
  outline: none;
}
.container-header .header .header-middle .header-search .buttons {
  width: 94px;
  height: 100%;
}
.container-header
  .header
  .header-middle
  .header-search
  .input-box
  .input:focus {
  box-shadow: var(--primary-boxshadow);
}
.container-header .header .header-middle .header-search .buttons button {
  width: 100%;
  background: var(--primary-color-button);
  height: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: var(--primary-boxshadow);
}
.container-header .header .header-middle .header-search .buttons button:hover {
  box-shadow: none;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item::before {
  position: absolute;
  top: 70%;
  right: -80%;
  content: attr(titles);
  font-size: 16px;
  width: max-content;
  height: auto;
  padding: 2px;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item
  span {
  position: absolute;
  left: 100%;
  top: 5px;
  color: red;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 25px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
}
.container-header
  .header
  .header-middle
  .header-access-list
  .header-access-item-3::before {
  position: absolute;
  top: 70%;
  left: -120%;
  content: attr(titles);
  font-size: 16px;
  width: max-content;
  height: auto;
  padding: 2px;
}
.container-header .header .header-middle .menu-phone-wrap {
  display: none;
}
.container-header .header .header-bottom {
  width: 100%;
  height: 60px;
  margin-top: 1px;
  background: #fff;
}
.container-header .header .header-bottom .header-bottom-nav {
  width: 100%;
  height: 100%;
}
.container-header .header .header-bottom .header-bottom-nav .list-option {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item:hover {
  font-weight: 800;
  border-bottom: 2px solid var(--primary-color);
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-icon {
  width: 35px;
  height: 35px;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-icon
  img {
  object-fit: cover;
}
.container-header
  .header
  .header-bottom
  .header-bottom-nav
  .list-option
  .option-item
  .item-title {
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
  font-weight: 400;
}
@media only screen and (max-width: 1100px) {
  .container-header .header .header-middle .header-access-list {
    column-gap: 70px;
  }
}
@media only screen and (max-width: 1024px) {
  .container-header {
    position: static;
    height: 120px;
    max-height: 120px;
  }
  .container-header .header {
    height: 120px;
  }
  .container-header .header .header-middle {
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 20px;
    border-bottom: 1px solid #0f172a;
  }
  .container-header .header .header-bottom {
    display: none;
  }
  .container-header .header .header-middle .menu-phone-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 100;
    background: #fff;
  }
  .container-header .header .header-middle .menu-phone-wrap .menu-phone-top {
    width: 100%;
    height: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .menu-btn-close {
    width: auto;
    height: 100%;
    padding: 0 5px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .phone-access-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .menu-phone-top
    .header-access-list
    .header-access-item {
    width: auto;
    height: 100%;
    cursor: pointer;
  }
  .container-header .header .header-middle .menu-phone-wrap .search {
    width: 100%;
    height: 34px;
    display: flex;
    padding: 0 20px;
  }
  .container-header .header .header-middle .menu-phone-wrap .search .input-box {
    width: 100%;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .search
    .input-box
    input {
    width: 100%;
    height: 100%;
    outline: none;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .search
    .button-search {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .header .header-middle .menu-phone-wrap .selection-menu {
    display: flex;
    width: 100%;
    height: 34px;
    padding: 0 20px;
    margin-top: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .selection-menu
    div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-1 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-top: 20px;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-1 ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    ul
    li {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;

    column-gap: 20px;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-1
    ul
    li
    .item-icon {
    width: 40px;
    height: 40px;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-2 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-top: 20px;
    display: none;
  }
  .container-header .header .header-middle .menu-phone-wrap .navigation-2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-header
    .header
    .header-middle
    .menu-phone-wrap
    .navigation-2
    ul
    li {
    width: 100%;
    height: 48px;
  }
  .container-header .header .header-middle .header-menu {
    display: block;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .header .header-middle .header-menu .menu {
    font-size: 25px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .container-header .header .header-middle .header-search {
    display: none;
  }

  .container-header .header .header-middle .header-logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .container-header .header .header-middle .header-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .container-header .header .header-middle .header-logo h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .container-header .header .header-middle .header-logo h2 span {
    color: red;
    display: inline-block;
    margin-right: 3px;
  }
  .container-header .header .header-middle .header-access-list {
    margin-right: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item {
    display: none;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item-3 {
    font-size: 25px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .container-header
    .header
    .header-middle
    .header-access-list
    .header-access-item-3::before {
    display: none;
  }
}
/* cart prodcut  */

.card-cpc {
  max-width: 230px;
  max-height: 430px;
  min-width: 230px;
  min-height: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
}
.card-cpc:hover {
  box-shadow: unset;
}
.card-cpc .card-image-cpc {
  margin: 5px;
  width: 100%;
  height: 45%;
  text-align: center;
}
.card-cpc .card-image-cpc img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.card-cpc .card-description-cpc {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-cpc .card-description-cpc .card-des-content-cpc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-title-cpc {
  width: 100%;
  height: calc(100% / 3);
  text-align: start;
  padding: 5px;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-title-cpc h3 {
  font-size: clamp(0.625rem, 0.5rem + 0.4vw, 0.875rem);
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-des-cpc {
  width: 100%;
  height: calc(100% / 3);
  padding: 5px;
  text-align: start;
}
.card-cpc .card-description-cpc .card-des-content-cpc .card-des-cpc h3 {
  font-size: clamp(0.5rem, 0.375rem + 0.4vw, 0.75rem);
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.card-cpc .card-description-cpc .card-des-content-cpc .card-price-cpc {
  width: 100%;
  height: calc(100% / 3);
  text-align: center;
}

.card-cpc .card-description-cpc .card-des-content-cpc .card-price-cpc h3 {
  font-size: clamp(1rem, 0.875rem + 0.4vw, 1.25rem);
  color: #ff0040;
  font-weight: 500;
}

.card-cpc .card-description-cpc .card-button-cpc {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}
.card-cpc .card-description-cpc .card-button-cpc button:first-child {
  width: 70%;
  height: 100%;
  text-align: center;
  font-size: clamp(0.75rem, 0.625rem + 0.4vw, 1rem);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--primary-color-button);
  transition: border 1s ease-in;
}
.card-cpc .card-description-cpc .card-button-cpc button:first-child:hover {
  border: 1px solid black;
}
.card-cpc .card-description-cpc .card-button-cpc button:last-child {
  width: 29%;
  height: 100%;
  text-align: center;
  font-size: clamp(0.75rem, 0.625rem + 0.4vw, 1rem);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right top, #fc6c8f, #ffb86c);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* shop cart product  */
.container-cpsitem {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  min-height: 50px;
  max-height: 200px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.container-cpsitem .deletebtn-cpsitem {
  width: 10%;
  display: block;
  height: fit-content;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container-cpsitem .content-cpsitem {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cpsitem .content-cpsitem .image-cpsitem {
  width: 40%;
  height: 100%;
  margin-right: 5px;
}
.container-cpsitem .content-cpsitem .image-cpsitem img {
  min-width: 50px;
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.container-cpsitem .content-cpsitem .title-cpsitem {
  font-size: clamp(0.5rem, 0.3393rem + 0.8571vw, 0.875rem);
  text-align: start;
}
.container-cpsitem .buttons-cpsitem {
  min-height: 50px;
  min-width: 80px;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-cpsitem .buttons-cpsitem .add-cpsitem {
  width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 35%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.container-cpsitem .buttons-cpsitem .sub-cpsitem {
  width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 35%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.container-cpsitem .buttons-cpsitem .quantity-cpsitem {
  width: 40%;
  height: auto;
  text-align: center;
  background: white;
}
.container-cpsitem .price-cpsitem {
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: clamp(0.5rem, 0.3393rem + 0.8571vw, 0.875rem);
}
@media (max-width: 576px) {
  .card-cpc {
    min-width: 180px;
  }
  .container-cpsitem {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-cpsitem .deletebtn-cpsitem {
    width: 10%;
  }
  .container-cpsitem .content-cpsitem {
    width: 90%;
  }
}
