html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}

/* css of header start  */
.container-shopcard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 150%;
  right: 0;
  background: #ffffff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.7s ease-in;
}
.container-shopcard.active {
  left: 70%;
  opacity: 1;
  box-shadow: 0 0 5px 10000px rgba(0, 0, 0, 0.5);
}
.container-shopcard .clickoutside {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 30%;
  bottom: 0;
  background: transparent;
}
.container-shopcard .clickoutside.active {
  display: block;
}
.container-shopcard .btn-close {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
}
.container-shopcard .btn-close button {
  position: relative;
  z-index: 10;
  width: 80px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.container-shopcard .product-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.container-shopcard .totail-cont {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
/* css of header end  */

/* css of main start  */
.container-main {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  height: auto;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  column-gap: 20px;
  margin-bottom: 40px;
  margin-top: 140px;
}
.container-main .navigation {
  padding: 5px;
  min-width: 300px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-shadow: var(--primary-boxshadow);
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
.container-main .navigation .nav-top {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;

  align-items: center;
}
.container-main .navigation .nav-top .item {
  width: calc(100% / 4 -100px);
  max-height: 80px;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.container-main .navigation .nav-top .item:hover {
  border-bottom: 2px solid var(--primary-color-button);
}
.container-main .navigation .nav-top .item .item-icon {
  min-width: 60px;

  max-width: 60px;
  height: 60px;
  object-fit: contain;
}
.main {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 230px);
  column-gap: 10px;
  row-gap: 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 1360px) {
  .main {
    max-width: calc(5 * 235px);
    grid-template-columns: repeat(5, 230px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1120px) {
  .main {
    max-width: calc(4 * 235px);

    grid-template-columns: repeat(4, 230px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 880px) {
  .main {
    max-width: calc(3 * 235px);

    grid-template-columns: repeat(3, 230px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  .main {
    max-width: calc(2 * 235px);

    grid-template-columns: repeat(2, 230px);
    margin: 0 auto;
  }
}

.main .product-wrapper {
  width: 250px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  box-shadow: var(--primary-boxshadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-20px);
  transition: transform 0.3s ease-in;
  position: relative;
  overflow: hidden;
}
.main .product-wrapper .product-btn {
  position: absolute;
  top: 0;
  right: 10px;
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  background-color: #0d009c;
  border: none;
  color: white;
}
.main .product-wrapper .image {
  width: 100%;
  height: 200px;
  text-align: center;
}
.main .product-wrapper .image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.container-main .option {
  position: absolute;
  width: 300px;
  height: 50px;
  bottom: -30px;
  right: 30%;
  transform: translateX(-50%);
  border: 1px solid black;
}
/* css of main end  */

.pagination-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  .pagination-wrapper {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #ffffff;
  }
}
.pagination-wrapper.active {
  display: none;
}
.pagination-wrapper .pagination {
  width: auto;
  margin: 0 auto;
  display: flex;
}
.pagination-wrapper .pagination div {
  cursor: pointer;
  font-size: clamp(0.5rem, 0.375rem + 0.6667vw, 0.875rem);
}
.pagination-wrapper .pagination .prev-wrap .prev {
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.pagination-wrapper .pagination .next {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.pagination-wrapper .pagination .number {
  width: fit-content;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.pagination-wrapper .pagination .number.active {
  background-color: rgb(228, 74, 74);
  pointer-events: none;
}
.pagination-wrapper .pagination .number:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}

.pagination-wrapper .pagination .prev-wrap .prev:hover {
  background-color: rgb(228, 74, 74);
  color: white;
}
.pagination-wrapper .pagination .next-wrap .next:hover {
  background-color: rgb(228, 74, 74);
  color: white;
}

.pagination-wrapper .pagination .prev-wrap .prev.visible {
  pointer-events: none;
}
.pagination-wrapper .pagination .next-wrap .next.visible {
  pointer-events: none;
}
.pagination-wrapper .pagination .next-wrap .next {
  padding: 10px;
  text-align: center;
}
.btn-back {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-back button {
  max-width: 400px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-button);
  color: white;
  box-shadow: var(--primary-boxshadow);
}
.btn-back button:hover {
  box-shadow: unset;
}
.btn-back.active {
  display: none;
}
/* css of footer start  */
.container-footer {
  margin-top: 20px;
  width: 100%;
  height: 480px;
  background: rgb(0, 0, 0);
}
.footer {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
/* css of footer end  */
