.container-main {
  margin-top: 160px;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
.container-main .main {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container-main .main .content-left {
  background-color: aqua;
  max-width: 720px;
}
.container-main .main .content-middle {
  background-color: antiquewhite;
}
.container-main .main .content-right {
  background-color: blueviolet;
  max-width: 720px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
