.container-product {
  column-gap: 10px;
}
.container-product .content-left-payment {
  max-width: 840px;
  min-width: 230px;
  width: 100%;
  height: 650px;
  padding: 0 10px;
  box-shadow: var(--primary-boxshadow);
}
@media only screen and (max-width: 1024px) {
  .container-product {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
    row-gap: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .container-product .content-left-payment {
    margin: 0 20px;
  }
}
.container-fp {
  width: 100%;
  padding: 10px;
  height: 100%;
}
.child-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left-container {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}
.right-container {
  border: 1px solid black;
  max-width: 40%;
  width: 100%;
  box-sizing: border-box;
}
.logo-image img {
  width: 100px;
  height: 100px;
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
}
.banner {
  display: flex;
  align-items: center;
}
.pay img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.pay h4 {
  font-weight: 550;
  font-size: 30px;
  text-align: center;
  color: #676461;
}
.pay p {
  text-align: center;
  color: #b0b6c8;
  font-size: 20px;
}
.child-container h3 {
  color: #5a5a6b;
  margin: 10px auto;
}
.box-input input:focus {
  border: 1px solid #2691d9;
  transition: 0.3s;
}
.box-input input {
  width: 100%;
  border: 1px solid transparent;
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  opacity: 0.9;
}
.pay-method {
  border-bottom: 1px solid #b0b6c8;
  padding-bottom: 10px;
  max-width: calc(60% - 10px);
  width: 100%;
}
.paybtn {
  max-width: calc(60% - 10px);
  width: 100%;
  margin: 15px auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #db4444;
  color: #ffffff;
  border: 1px solid transparent;
}
.paybtn:hover {
  border-color: #db4444;
  background-color: #ffffff;
  color: black;
  transition: 0.3s;
}
.message {
  color: red;
}
.box-input.invalid input {
  border-color: red;
  transition: 0.3s;
}
@media screen and (max-width: 1023px) {
  .left-container {
    max-width: 90%;
    padding: 0;
  }
  .right-container,
  .pay-method,
  .paybtn {
    max-width: 90%;
  }
  .child-container {
    justify-content: center;
  }
}
