.black-sale {
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 10px;
}
.container-main {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .container-main {
    margin-top: 10px;
  }
}
.main {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.main .main-title {
  width: 100%;
  height: 150px;
  box-shadow: var(--primary-boxshadow);
  margin-bottom: 10px;
}
.main .main-title h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .main-title .main-title-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.main .main-title .main-title-bottom .inforuser {
  width: 100%;
}
.main .main-title .main-title-bottom .inforuser h2 {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
}
.main .main-title .main-title-bottom .buttons {
  width: auto;
}
.main .main-title .main-title-bottom .buttons button {
  width: 178px;
  height: 52px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}
.main .main-title .main-title-bottom .buttons button:hover {
  border: 1px solid #292929;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 520px) {
  .main .main-title .main-title-bottom .inforuser h2 {
    font-size: 14px;
  }
  .main .main-title .main-title-bottom .buttons button {
    width: 100px;
    height: 40px;
  }
}
.history-payment {
  margin-top: 20px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.history-payment h1 {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}
