body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;

  position: relative;
}

/* css of header start  */
.container-header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: var(--primary-color);
  top: 0;
  z-index: 100;
}
.container-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 30px;
  border-bottom: 1px solid rebeccapurple;
}
.header {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header .header-top {
  padding: 0 10px;
  background: transparent;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-top h4 {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.header .header-top .header-top-right {
  width: auto;
  height: 100%;
  font-size: 14px;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}
.header .header-top .header-top-right .header-top__title-right-2 {
  color: aliceblue;
  white-space: 5px;
}
.header .header-bottom {
  width: 100%;
  height: 65px;
  display: flex;
  background: rgb(255, 255, 255);
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}
.header .header-bottom .logo {
  min-width: 200px;
  width: 200px;
  height: 55px;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}
.header .header-bottom .logo .logo-img {
  width: 50px;
  height: 50px;
}
.header .header-bottom .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .header-bottom .logo .logo-title {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.header .header-bottom .logo .logo-title h2 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
}
.header .header-bottom .logo .logo-title h2 span {
  color: red;
}
.header .header-bottom .search-box {
  min-width: 500px;
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-bottom .search-box .form {
  max-width: 420px;
  width: 100%;
  height: 35px;
}
.header .header-bottom .search-box .form .input-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}
.header .header-bottom .search-box .form .input-box .icon-search {
  width: 25px;
  height: 100%;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
}
.header .header-bottom .search-box .form .input-box .input-search {
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 8px;
  border: none;
}
.header .header-bottom .search-box .search-btn {
  width: 75px;
  height: 80%;
  border: none;
  cursor: pointer;
  background: var(--primary-color-button);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.header .header-bottom .search-box .search-btn:hover {
  border: 1px solid black;
  box-shadow: var(--primary-boxshadow);
}
.header .header-bottom .header__bottom-right {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-bottom .header__bottom-right .header__shop-btn {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* .header .header-bottom .header__bottom-right .header__shop-btn .shop-icon {
   
  } */
.header .header-bottom .header__bottom-right .header__shop-btn .shop-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .viewCart-btn {
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .viewCart-btn
  .handle-product {
  position: absolute;
  left: 70%;
  color: red;
  font-size: 16px;
  font-size: 500;
}

/* .header
    .header-bottom
    .header__bottom-right
    .header__viewCart-btn
    .viewCart-icon {
  
  } */
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 150%;
  right: 0;
  background: #ffffff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.7s ease-in;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard.active {
  left: 70%;
  opacity: 1;
  box-shadow: 0 0 5px 10000px rgba(0, 0, 0, 0.5);
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .clickoutside {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 30%;
  bottom: 0;
  background: transparent;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .clickoutside.active {
  display: block;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .btn-close {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
}

.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .btn-close
  button {
  position: relative;
  z-index: 10;
  width: 80px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .product-wrap {
  height: 100%;
  width: 100%;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .totail-cont {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .container-shopcard
  .buttons {
  margin-top: 5px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header
  .header-bottom
  .header__bottom-right
  .header__viewCart-btn
  .vá»‰ewCart-title {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 300;
}
.header .header-bottom .header__bottom-right .header__buttons {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -5px;
  padding: 0 5px;
  position: relative;
}

.header .header-bottom .header__bottom-right .header__buttons .account {
  width: 85px;
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 8px;
  background: var(--primary-color-button);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header .header-bottom .header__bottom-right .header__buttons .account:hover {
  background: #fff;
  color: rgb(183, 177, 177);
  border: 2px solid rgb(220, 6, 6);
}
.header .header-bottom .header__bottom-right .header__buttons .from-wrap {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 100px;
  bottom: -630px;
  background-color: #fdfdfd;
  opacity: 0;
  transition: opacity 0.7s ease-in, left 0.5s ease;
  box-shadow: var(--primary-boxshadow);
  border-radius: 10px;
}
.header
  .header-bottom
  .header__bottom-right
  .header__buttons
  .from-wrap.active {
  left: -300px;
  opacity: 1;
  box-shadow: 0 0 10px 10000px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .header .header-bottom .header__bottom-right {
    justify-content: unset;
    column-gap: 10px;
  }
  .header .header-bottom .header__bottom-right .header__shop-btn {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-bottom .header__bottom-right .header__shop-btn .shop-title {
    display: none;
  }
}
@media only screen and (max-width: 739px) {
}
/* css of header end  */

/* css of main start  */
.container-product {
  margin: 0 auto;
  margin-top: 120px;
  width: 1200px;
  height: auto;
  display: flex;
}
.container-product .content-left {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* css of footer start  */
.container-footer {
  margin-top: 20px;
  width: 100%;
  height: 480px;
  background: rgb(0, 0, 0);
}
.footer {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* css of footer end  */
