body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;

  position: relative;
}

/* css of main start  */
.container-product {
  margin: 0 auto;
  margin-top: 180px;
  width: 1200px;
  height: auto;
  display: flex;
}
.container-product .content-left {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* css of footer start  */
.container-footer {
  margin-top: 20px;
  width: 100%;
  height: 480px;
  background: rgb(0, 0, 0);
}
.footer {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* css of footer end  */
